<%- include('parts/header.ejs')%>
<%- include('parts/navbar.ejs')%>

<div class="container text-center">
    <br>
    <h3>Check Your Email</h3>
    <br>
    <div class="col-12 col-md-6 col-lg-4 mx-auto">
        <p>An email has been sent to your email address with instructions to reset your password.</p>
        <br>
        <div>
            <a href="/login">Back to Login</a>
        </div>
    </div>
</div>
<%- include('parts/footer.ejs')%>