<%- include('parts/header.ejs')%>
<%- include('parts/navbar.ejs')%>

<div class="container text-center">
    <br>
    <h3>Reset Password</h3>
    <br>
    <div class="col-12 col-md-6 col-lg-4 mx-auto">
        <form action="/forgot-password" method="post">
            <input type="email" id="email" name="email" class="form-control" placeholder="Enter your Email">
            <br>
            <input type="submit" value="Send reset link" class="btn btn-primary">
        </form>
        <br>
        <% if(authError) { %>
            <br>
            <p class="alert alert-danger"><%= authError %></p>
        <% } %>
        <br>
        <div>
            <a href="/login">Back to Login</a>
        </div>
    </div>
</div>

<%- include('parts/footer.ejs')%>